/* 
    Author: Marcela Cardoso
*/

@charset "UTF-8";

body {
    background-image:url("../imagens/telalogin.jpg");
    background-size:cover;
}

img{
    position:absolute;
    bottom:500px!important;
    left:250px!important;
}

.caixatexto{
    color: #ffffff !important;
    font-size: 18pt!important;
}

form{
    position:relative;
    top: 450px!important;
    left: 230px!important;
    width: 600px !important;
}

.ui-panelgrid .ui-widget-content {
    background: none !important;
    border: none !important;
}

form .botaoLogar{
    position: absolute;
    border-radius: 12px!important;
    left:425px!important;
    top: 42px!important;
    font-size:16pt!important;
    color:white!important;
    background:darkmagenta;
    padding: 2px 20px;
}

form #botaoCadastro{
    position: absolute;
    top: 180px!important;
    left:20px!important; 
}

form .botaoCadastro{
    padding:8px 100px!important;  
    font-size: 18pt!important;
    color:white!important;
    background:#008000!important;
    border-radius: 12px!important;
}

form #botaoLink{
    position: absolute;
    top:90px!important;
    left:150px!important; 
    color: #ffffff!important; 
}

form .botaoLink{
    color: white!important; 
    background: transparent;
    padding: 5px 5px!important;
    font-size: 11pt!important;
    border :transparent;
    text-decoration: none !important;
}

form .botaoLink:hover {
    cursor: pointer !important;
    text-decoration: underline !important;
   
}


