/* 
    Author: Marcela Cardoso
*/

@charset "UTF-8";



body{
    background-image: url("../imagens/teste.jpg");
    background-size: cover; 
    background-repeat: no-repeat;    
}


.ui-menu{
    background:  thistle!important;

   
}
.ui-widget-header {
    background:  purple!important;
    color: white!important;
}


.ui-state-hover{
    background: darkseagreen!important;
  
}